.expertise {
  padding: 0 $contentPadding;
  margin: 0 auto;

  @include fluid-size(margin-top, 34em, 90em, $compDistanceMobile, $compDistance);

  &__ol {
    text-align: center;
  }

  &__list {
    @include fluid-size(margin-top, 34em, 90em, 2.5rem, 6rem);

    &__item {
      //font-weight: $font-weight-regular;
      text-align: center;
      margin-top: calcRem(20);
    }
  }
}
